
#cabecalho{
    background-color: black;
    height: 9em;
    width: 100%;
    position: absolute;
}
#navBAR{
    background-color: rgb(48, 48, 48);
    height: 3.5em;
    width: 100%;
    position: absolute;
    margin-top: 9em;
}
#botao{
    border-radius: 3px;
    padding-top: 0.3em;
    border: none;
    color: white;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(25, 25, 25);
    width: 16em;
    height: 3.4em;
    text-align: center;
    margin-left: 3em;
}
#botao:hover{
    background-color: rgb(64, 64, 64);
}
#botao:active{
    background-color: rgb(20, 20, 20);
}
#posicaoBot{
    position: relative;
    left: 50%;
    margin-left: -49.5em;
    top: 50%;
    margin-top: -1.5em;
}
